@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --primary-color: #a30a82;
  --secondary-color: #24598f;
  --aux-color: #575757;
  --primary-font: "Varela Round";
}

body {
  display: grid;
  font-family: var(--primary-font);
}

strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  border: 1px solid black;
}

section:not(.newsletter) {
  margin-bottom: 5em;
}

.price {
  color: var(--primary-color);
}

.subcategory {
  color: var(--aux-color);
}

.thunder {
  display: flex;
  align-items: center;
}

.rating {
  margin: 1em 0 1em 0;
}

/*
 * HEADER STYLES
 */

header {
  display: flex;
  flex-direction: column;
}

header select {
  border: none;
  font-size: 1em;
}

#header-jump {
  align-self: flex-end;
  height: 30px;
}

#header-jump a {
  text-decoration: underline;
}

#header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;

  height: 50px;
}

#header-info .language-select,
#header-info .currency-select {
  display: flex;
  flex-direction: column;
}

#header-info div:first-of-type {
  display: flex;
  align-items: center;
}

#header-info div:first-of-type div {
  border-left: 1px solid var(--aux-color);
  padding-left: 1em;
  padding-right: 1em;
}

#header-info .redes {
  border-left: 1px solid var(--aux-color);
  border-right: 1px solid var(--aux-color);
}

#header-main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--aux-color);
  border-bottom: 1px solid var(--aux-color);

  height: 100px;
}

#header-main-title i {
  color: black;
  font-size: 24px;
}

#header-main-title,
#header-info,
#header-jump {
  padding: 0 16% 0 16%;
}

#header-main-title div:last-of-type a,
#header-info .redes a {
  margin-right: 1.2em;
}

#header-info .redes a:first-of-type {
  margin-left: 1.2em;
}

#header-main-title .phone {
  display: flex;
  width: 260px;
}

#header-main-title .phone div:last-of-type {
  display: flex;
  flex-direction: column;
}

/*
 * NAVBAR STYLES
*/

nav {
  margin-right: auto;
  margin-left: auto;
}

nav > ul {
  display: flex;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0 2.5em 0 2.5em;
}

nav a {
  font-weight: bold;
}

nav a:hover {
  color: var(--primary-color);
}

/* 
 * MAIN STYLES
 */

#must {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#must>div:first-of-type {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#must hr {
  width: 35%;
}

/* #must>div:first-of-type::before,
#must>div:first-of-type::after {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--aux-color);
  width: 565px;
  margin: 0 1.6em 0.2em 1.6em;
} */

#must .categories {
  position: absolute;
  align-self: flex-start;
  top: 7%;
  left: 12%;
}

#must .categories div {
  width: 40px;
  height: 20px;

  text-align: center;
  padding-top: 3px;

  border-radius: 10%;

  font-size: 0.8em;
  margin-bottom: 0.7em;
  color: white;
}

#must .categories .new {
  background-color: black;
}

#must .categories .sale {
  color: white;
  background-color: #B30000;
}

#popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popular .flex .title {
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

#popular ul {
    display: flex;
    justify-self: flex-end;
}

#popular ul li {
    list-style: none;
}

#popular ul span {
    margin: 0 0.3em 0 0.3em;
    font-weight: bold;
}

#popular ul li a:hover {
    color: var(--primary-color);
}

#popular .flex .title,
#popular .flex .articles {
    display: flex;
}

#popular .flex>div:first-of-type {
    border-bottom: 1px solid var(--aux-color);
}

.last-article {
    position: relative;
    color: white;
}

.last-article>div:first-of-type {
    width: 200px;

    position: absolute;
    top: 70%;
}

.last-article>div:first-of-type h3 {
    font-size: 1.5em;
}

.last-article>div:last-of-type {
    width: 300px;
    height: 35px;
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 5%;
}

.last-article>div:last-of-type a {
    color: white;
}

.flex {
    display: flex;
}

.flex article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;

    text-align: center;

    position: relative;
}

.flex article h3 {
    margin-top: 0.6em;
}

/*
 * FOOTER STYLES
 */

footer {
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;

  height: 187px;
}

footer span a {
  color: var(--primary-color);
  text-decoration: underline;
}

footer div:nth-child(2) {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer div:nth-child(2) span {
  align-self: center;
}

footer nav li {
  margin: 0 1em 0 1em;
}

footer nav li a {
  font-size: 0.8em;
}

/* 
 * MEDIA QUERIES
 */

@media (max-width: 1280px) {
  #header-info {
    display: none;
  }

  #header-main-title {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  footer div:nth-child(2) {
    width: 100%;
  }

  footer div:first-of-type,
  footer div:last-of-type {
    display: none;
  }
}
