@import "../../styles/global.scss";

li {
  margin: 1.5em 0;

  div {
    display: flex;
    color: map-get($colors, "secondary");

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 2rem;
    }
  }
}
