/**
 * #274060
 * #335C81
 * #65AFFF
 * #1B2845
 * #5899E2
 */

$colors: (
  "primary": #335c81,
  "secondary": #fbfbf9,
  "accentDark": #1b2845,
  "accentLight": #5899e2,
  "black": #1b1212,
);

$sizes: (
  "big": 10px,
  "medium": 10px,
  "small": 10px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
  display: flex;

  & > div {
    margin-left: 12em;
    margin-right: 6em;
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: map-get($colors, "black");
  background-color: map-get($colors, "secondary");
  font-family: "Rubik", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
}

a {
  text-decoration: none;
}

.sectionTitle {
  display: flex;
  align-items: center;

  .line {
    width: 100px;
    height: 2px;
    margin-left: 1.5em;
    background: map-get($colors, "black");
  }
}

.hidden {
  display: none;
}
