/**
 * #274060
 * #335C81
 * #65AFFF
 * #1B2845
 * #5899E2
 */

$colors: (
  "primary": #1b2845,
  "secondary": #fbfbf9,
  "accent": #335c81,
);

$sizes: (
  "big": 10px,
  "medium": 10px,
  "small": 10px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
  display: flex;

  & > div {
    margin-left: 6em;
    width: 100vw;
  }
}

body {
  background-color: map-get($colors, "secondary");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
}

.hidden {
  display: none;
}
