/**
 * #274060
 * #335C81
 * #65AFFF
 * #1B2845
 * #5899E2
 */

$colors: (
  "primary": #1b2845,
  "secondary": #f5f5f5,
  "accent": #335C81,
);

$sizes: (
  "big": 10px,
  "medium": 10px,
  "small": 10px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.hidden {
  display: none;
}
