.iconButton {
  border: none;
  border-radius: 50px;
  background-color: white;
  color: #767676;
  padding: 0.5em 0.75em;

  &:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }
}

.clickedIconButton {
  color: black;
}
