.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 3em;
  margin: 0.2em;
  border-radius: 5px;
  background-color: #D2D4D8;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

.correct {
  background-color: #6BAA64;
}

.wrong {
  background-color: #787C7F;
}

.badposition {
  background-color: #C9B457;
}
